/* document */
body {
    margin: 0;
    border-color: #aaa;
    color: #111;
    background-color: #fff;
    font-family: sans;
    font-size: 1em;
}

/* base-elements */
a {
    color: inherit;
}
a:hover {
    color: #333;
}
h1, h2, h3, h4, h5, h6 {
    display: block;
}
h1 {
    font-size: 1.8rem;
}
h2 {
    font-size: 1.4rem;
}
h3 {
    font-size: 1.3rem;
}
h4 {
    font-size: 1.2rem;
}
h5 {
    font-size: 1.1rem;
}
h6 {
    font-size: 1rem;
}

/* navigation */
nav {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    border-bottom: 1px solid;
    border-color: inherit;
    z-index: 100;
    position: relative;
    background-color: inherit;
}
nav.left {
    justify-content: flex-start;
}
nav.right {
    justify-content: flex-end;
}
nav a {
    margin: 0.5rem 0.25rem;
}

/* structure */
section {
    display: flex;
    flex-direction: column;
    align-items: center;
}
article {
    margin: 1rem;
}

/* inputs */
form {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-color: inherit;
}
form > * {
    margin: 0.5rem 0.85rem 0 0.85rem;
}
input, button, select {
    width: 100%;
    margin: 0.1rem auto;
}
input, button {
    border: 1px solid #aaa;
    padding: 0.5rem 0;
    border-radius: 0.3rem;
}
input:focus {
    outline: 1px solid green;
}
input:not(:placeholder-shown):invalid {
    outline: 1px solid red;
}
button, input[type="button"], input[type="submit"] {
    width: auto;
    align-self: end;
    margin: 0.3rem 0.85rem;
    padding: 0.5rem 1.5rem;
    background-color: #abb;
    color: inherit;
    font-weight: 900;
    cursor: pointer;
}
button:hover, input[type="button"]:hover, input[type="submit"]:hover {
    background-color: #bcc;
}
button:active, input[type="button"]:active, input[type="submit"]:active {
    background-color: #cdd;
}
select, textarea {
    border: 0 none;
    box-shadow: 0px 0px 2px 0 #333;
    padding: 10px;
    background-color: #fff;
}
select:focus, textarea:focus, input:focus {
    outline: 2px solid #000;
}
.hidden {
    visibility: hidden;
    height: 0;
}
.hidden-input {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

/* table */
table {
    width: 100%;
    text-align: right;
    border-spacing: 0;
    border-collapse: collapse;
    border: 2px #333;
    border-style: solid none;
}
th {
    text-align: left;
}
thead, th {
    font-weight: 700;
}
td:nth-child(even) {
    background-color: rgba(200, 200, 220, 0.1);
}
td {
    padding: 3px 0;
}
code {
    white-space: break-spaces;
    display: block;
    padding: 10px;
    font-size: 0.9rem;
    background-color: #abb;
}

/* bonus matirial */
.loading {
    display: inline-block;
    border: #333 3px;
    border-style: solid dashed; 
    height: 20px;
    width: 20px;
    vertical-align: bottom;
    border-radius: 20px;
    animation: loading 1s cubic-bezier(.6,-0.28,.74,.05) infinite
}
@keyframes loading {
    from { 
        transform: rotate(0);
    } to {
        transform: rotate(360deg);
    }
}
